<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/rupeshkumar/Downloads/code/qabootcamp/qa-bootcamp-tw/qabootcamp/src/test/java/com/rpshjha/qabootcamp/QabootcampApplicationTests.java">
        <classes>
            <class name="com.rpshjha.qabootcamp.QabootcampApplicationTests">
                <methods>
                    <include name="contextLoads"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>